<!DOCTYPE html>
<html lang="es">
<head>
  {% include "_head.html" %}
  <link rel="stylesheet" href="/static/css/stats.css">
</head>
<body>

  <div class="header">
    <div>
      <p class="header-sub">Tu rendimiento</p>
      <p class="header-title">Estadísticas</p>
    </div>
  </div>

  <div class="tabs">
    <button class="tab active" onclick="cambiarTab('hoy', this)">Hoy</button>
    <button class="tab" onclick="cambiarTab('semana', this)">Semana</button>
    <button class="tab" onclick="cambiarTab('mes', this)">Mes</button>
    <button class="tab" onclick="cambiarTab('total', this)">Total</button>
  </div>

  <div class="content" id="content">
    <div style="height:120px;" class="skeleton"></div>
    <div class="grid-2">
      <div style="height:90px;" class="skeleton"></div>
      <div style="height:90px;" class="skeleton"></div>
    </div>
    <div class="grid-2">
      <div style="height:90px;" class="skeleton"></div>
      <div style="height:90px;" class="skeleton"></div>
    </div>
    <div style="height:160px;" class="skeleton"></div>
  </div>

  {% include "_nav.html" %}

  <script src="/static/js/core.js"></script>
  <script src="/static/js/stats.js"></script>

</body>
</html>
